<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Contact page of Eazy school web application</title>
</head>
<body>
`
<br/>

<form action="/api/contact/saveMsg_details" method="POST">
Name: <input type="text" name="username" Placeholder="Enter Name" /><br/><br/><br/>
Mobile Number: <input type="text" name="mobno" Placeholder="Enter Mobile Number" /><br/><br/><br/>
Email: <input type="text" name="email" Placeholder="Enter Email Id" /><br/><br/><br/>
Subject: <input type="text" name="subject" Placeholder="Enter Subject" /><br/><br/><br/>
Message: <input type="text" name="message" Placeholder="Enter Message" /><br/><br/><br/>
<input type="submit" name="submit" value="Submit Information555"/>

</form>


</body>
</html>